<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    
    <%- include('imports'); -%>

  </head>
  <body>
      <%- include('navbar'); -%>
    
    <div class="container">
      <div class="testimony">
        <% Depoimentos.forEach((item)=> { %>
            <div>
                <h2 class="testimonial-description">
                    "<%= item.testimony %>"
                </h2>
                <br>
                <p class="testimonial-info">
                  <%= item.name %> (<%= item.title %>) - <%= item.company %>
                </p>
            </div>
        <% }); %>

        </ul>
      </div>
    </div>

  </body>
</html>
